* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: Arial;
}

/* 🌈 tło */
body {
    background: linear-gradient(-45deg, #ff4ecd, #7b2ff7, #ff9ecf, #a66cff);
    background-size: 400% 400%;
    animation: bg 8s infinite;

    text-align: center;
    color: white;
    padding: 20px;
}

@keyframes bg {
    0% {background-position:0% 50%;}
    50% {background-position:100% 50%;}
    100% {background-position:0% 50%;}
}

/* formularz */
form {
    background: white;
    color: black;
    width: 380px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
}

/* input */
input {
    width: 100%;
    padding: 8px;
    margin: 5px 0 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* button */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;

    background: linear-gradient(90deg, #ff4ecd, #7b2ff7);
    color: white;
    font-weight: bold;
}

/* info */
.info {
    background: rgba(255,255,255,0.9);
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: 380px;
    margin: auto;
    margin-bottom: 10px;
}

/* wynik */
.result {
    margin-top: 20px;
    background: rgba(0,0,0,0.3);
    padding: 10px;
    border-radius: 10px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}

/* porada */
.advice {
    margin-top: 10px;
    background: rgba(255,255,255,0.9);
    color: black;
    padding: 10px;
    border-radius: 10px;
    width: 380px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}